body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 22, 89, 0.808),rgba(0, 22, 89, 0.76)), url(../img/slide-1-min.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}


/* LOGIN */

#reset{
    width: 100%;
    height: 754px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#reset .Reset{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
#reset .resetTittle{
    width: 60%;
    text-align: center;
    font-size: 25px;
}
#reset .resetTittle h2{
    border-bottom: 1px red groove;
}

/* INPUT */

#reset .reForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#reset .reForm input{
    margin-bottom: 1rem;
    width: 100%;
    font-size: 20px;
    border: none;
}
/* END INPUT */

/*REGISTRACIJA*/
#reset .register{
    width: 100%;
    text-align: center;
}
#reset .register a{
    text-decoration: none;
    color: black;
}

/* END LOGIN */